header{
  background-color :#999999;
}

.flex1 {
display : flex;
justify-content : center;
align-items : center;
padding : 5% 20%;
color: white;
}

header img{
 margin-right:25px;
 border:6px;
 border-color:black;
}

h1{
font-family: 'Staatliches';
}

p{
 font-family: 'Montserrat', sans-serif; 
}

  
.flex2 {
display : flex;
justify-content : center;
align-items : flex-start;
}

