header{
  background-color :#999999;
}

.flex1 {
display : flex;
justify-content : center;
align-items : center;
padding : 5% 20%;
color: white;
}

header img{
 margin-right:25px;
 border:6px;
 border-color:black;
}

h1{
font-family: 'Staatliches';
}

p{
 font-family: 'Montserrat', sans-serif; 
}

  
.flex2 {
display : flex;
justify-content : center;
align-items : flex-start;
}

.bshadow{
margin : 0 70px;
margin-top : 20px;
margin-bottom: 20px;
padding : 5% 20%;
font-family : Montserrat;
border-style: inset;
}

footer {

background-color : purple;

font-family : Montserrat;

}



.contact {

padding : 5% 20%;

display : flex;

justify-content : flex-start;

align-items : flex-start;

flex-direction : column;

box-sizing : border-box;

width : 100%;

}
